.tituloLargo {
font-family: 'Times new Roman';
color: #005677;
text-align: center;
font-size: 35px;
font-weight: 700;
font-style: normal;
background-color: #C4C4C4;
letter-spacing: 0.25em;
word-spacing: 0.25em;
}


.sub-titulos {
font-family: 'Times new Roman';
color: #005677;
font-size: 20px;
font-weight: 700;
font-style: normal;
background-color: #C4C4C4;
letter-spacing: 0.25em;
word-spacing: 0.25em;
}
    

.espacioblanco {
background-color:white;
height: 120px;
}


.cursiva {
font-style: italic;  
font-weight: bold;
font-size: 15px;
}

#negrita {
font-weight: bold;  
font-size: 15px;
}

.espacio {
text-indent: 0; 
margin-left: 4.8em;
}
    

p {
    line-height: 84.69%;  
}

.piedepag {
align-items: center;
display: flex;
justify-content: center;
color: white;
background-color: #005677;
height:37px;
font-weight: bold; 
font-size: 20px;

}

